body {
  margin: auto 0;
}

/* Fondo deslizante */
.slider-fondo {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
}

.slide {
  position: absolute;
  height: 100%;
  width: 100%;
  background-size: cover;
  background-position: center;
  opacity: 0;
  animation: cambiar 85s infinite;
}

.inicio {
  background-image: url('../img/La\ dulsura\ en\ persona.png');
  animation-delay: 0s;
}

.slide1 {
  background-image: url('../img/MichinoProducto1.webp');
  animation-delay: 5s;
}

.slide2 {
  background-image: url('../img/MichinoProducto2.webp');
  animation-delay: 10s;
}

.slide3 {
  background-image: url('../img/MichinoProducto3.webp');
  animation-delay: 15s;
}

.slide4 {
  background-image: url('../img/MichinoProducto4.jpg');
  animation-delay: 20s;
}

.slide5 {
  background-image: url('../img/MichinoProducto5.webp');
  animation-delay: 25s;
}

.slide6 {
  background-image: url('../img/MichinoProducto6.jpg');
  animation-delay: 30s;
}

.slide7 {
  background-image: url('../img/MichinoProducto7.jpg');
  animation-delay: 35s;
}

.slide8 {
  background-image: url('../img/MichinoProducto8.jpg');
  animation-delay: 40s;
}

.slide9 {
  background-image: url('../img/MichinoProducto9.webp');
  animation-delay: 45s;
}

.slide10 {
  background-image: url('../img/MichinoProducto10.webp');
  animation-delay: 50s;
}

.slide11 {
  background-image: url('../img/MichinoProducto11.webp');
  animation-delay: 55s;
}

.slide12 {
  background-image: url('../img/MichinoProducto12.webp');
  animation-delay: 60s;
}

.slide13 {
  background-image: url('../img/MichinoProducto13.jpg');
  animation-delay: 65s;
}

.slide14 {
  background-image: url('../img/MichinoProducto14.jpg');
  animation-delay: 70s;
}

.slide15 {
  background-image: url('../img/MichinoProducto15.jpg');
  animation-delay: 75s;
}

.slide16 {
  background-image: url('../img/MichinoProducto16.jpg');
  animation-delay: 80s;
}

.slide17 {
  background-image: url('../img/MichinoProducto17.jpg');
  animation-delay: 85s;
}

.slide18 {
  background-image: url('../img/MichinoProducto18.webp');
  animation-delay: 90s;
}

.slide19 {
  background-image: url('../img/MichinoProducto19.webp');
  animation-delay: 95s;
}

.slide20 {
  background-image: url('../img/MichinoProducto20.webp');
  animation-delay: 100s;
}

/* Animación de desvanecimiento */
@keyframes cambiar {
  0% {
    opacity: 0;
  }

  10% {
    opacity: 1;
  }

  30% {
    opacity: 1;
  }

  40% {
    opacity: 0;
  }

  100% {
    opacity: 0;
  }
}

/* Contenido visible encima del fondo */
.contenido {
  position: relative;
  z-index: 1;
  height: 100vh;
}

.division {
  background-color: rgba(242, 255, 0, 0.349);
  width: 100%;
  display: flex;
  height: 70px;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  margin: 0;
  padding: 0%;
  gap: 15px;
}

.division li {
  transition: 3s;
  align-items: center;
  list-style: none;
  border: solid black;
  transition: 0.3s;
  height: 50%;
  width: 30%;
  text-align: center;
  justify-content: center;
}

.division :hover {
  background-color: rgba(241, 254, 53, 0.797);
  transform: scale(1.1);
  transform: scale3d(10);
}

/* Carruseles */
.carousel-container {
  max-width: 1200px;
  margin: 30px auto;
  padding: 0 20px;
  background-color: rgba(255, 246, 217, 0.717);

  border-radius: 5px;
  box-shadow: 0 0 15px rgba(234, 255, 46, 0.208);
}

.carousel-title {
  color: #020202;
  margin-bottom: 20px;
  font-size: 1.7rem;
  /* text-shadow: 0 0 5px #621fffd3; */
  padding-top: 15px;
}

.carousel {
  display: flex;
  overflow-x: auto;
  gap: 20px;
  padding-bottom: 20px;
  scrollbar-width: thin;
  scrollbar-color: #fffb00e5 #00000038;
}

.carousel::-webkit-scrollbar {
  height: 8px;
}

.carousel::-webkit-scrollbar-track {
  background: #d9ff0340;
}

.carousel::-webkit-scrollbar-thumb {
  background-color: #eeff00;
  border-radius: 20px;
}

.carousel-item {
  min-width: 250px;
  height: 350px;
  background-color: rgba(64, 1, 1, 0.313);
  border: 1px solid #f9ff4f;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  transition: transform 0.3s, box-shadow 0.3s;
}

.carousel-item:hover {
  transform: translatex(-5px);
  box-shadow: 0 10px 20px rgba(232, 255, 82, 0.5);
}

.carousel-img {
  height: 70%;
  background-size: cover;
  background-position: center;
}

.carousel-info {
  padding: 15px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.carousel-info h3 {
  color: #ffff00;
  margin-bottom: 0.9px;
}

.carousel-info p {
  color: #ffffff;
  font-size: 0.9rem;
}

.caja2 {
  width: 25px;
  position: absolute;
  bottom: 30px;
  right: 100px;
  position: fixed;
}

.carrito {
  transition: 0.5s;
  border-radius: 50px;
}

.caja2 :hover {
  transform: scale(1.1);
  cursor: pointer;
}

.box1 {
  display: flex;
  justify-content: space-around;
}

footer {
  background-color: #020202;
  width: 100%;
  color: white;
  display: flex;
  justify-content: center;
  font-family: "Rock Salt", cursive;
  font-weight: 400;
  font-style: normal;
}